@import "vars"

.h-heroes
	position: relative
	background: $text
	.owl-item
		height: calc(100vh - 100px)
		min-height: 550px
		&.active
			.h-heroes__title
				animation-delay: 0.1s
			.h-heroes__descr
				animation-delay: 0.3s
			.h-heroes__btn
				animation-delay: 0.5s
			.h-heroes__title,
			.h-heroes__descr,
			.h-heroes__btn
				animation-duration: 0.85s
				animation-fill-mode: both
				animation-name: fadeInUp
	.owl-dots
		position: absolute
		left: 0
		right: 0
		bottom: 60px
		z-index: 3
		margin-top: 0
	&__carousel-nav
		.owl-prev
			left: 10px
		.owl-next
			right: 10px
	&__slide
		position: relative
		z-index: 2
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		max-height: 100%!important
		height: 100%
		background-position: center center
		background-size: cover
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: -1
			background: rgba($text, .65)
	&__wrap
		max-width: 700px
		margin: 0 auto
		text-align: center
	&__title
		margin-bottom: 15px
		color: $white
		text-transform: uppercase
	&__descr
		margin-bottom: 30px
		color: $white
		font-weight: 300
	&__video
		position: absolute
		top: 0
		left: 0
		z-index: -1
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: 1
			background: rgba($text, .65)
		video
			width: 100%
			height: calc(100vh - 100px)
			min-height: 550px
			object-fit: cover
