@import "vars"

.h-heroes
	position: relative
	background: $text
	.owl-item
		&.active
			.h-heroes__title
				animation-delay: 0.1s
			.h-heroes__descr
				animation-delay: 0.3s
			.h-heroes__title,
			.h-heroes__descr
				animation-duration: 0.85s
				animation-fill-mode: both
				animation-name: fadeInUp
	&__carousel-nav
		.owl-prev
			left: 10px
		.owl-next
			right: 10px
	&__slide
		position: relative
		z-index: 2
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		height: calc(100vh - 100px)
		min-height: 650px
		background-position: center center
		background-size: cover
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: -1
			background: rgba($text, .65)
	&__wrap
		max-width: 700px
		margin: 0 auto
	&__title
		margin-bottom: 15px
		color: $white
		text-align: center
		text-transform: uppercase
	&__descr
		margin-bottom: 30px
		color: $white
		font-weight: 300
		text-align: center
