@import vars
@import fonts
@import libs

::placeholder
	color: rgba($text, 0.75)
	font-size: 15px
	font-weight: 400

::selection
	background-color: $border
	color: $text

input, textarea
	-webkit-appearance: none
	border-radius: 0
	outline: none
	&:focus
		border-color: $accent
	// &:focus:required:invalid
	// 	border-color: $text
	// &:required:valid
	// 	border-color: $text

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.5em
	font-family: 'Roboto', sans-serif
	overflow-x: hidden
	color: $text
a
	color: $title
	text-decoration: none
	transition: color .3s ease
	&:hover
		color: $text
h1
	font-size: 56px
h2
	font-size: 48px
h3
	font-size: 36px
h4
	font-size: 28px
h5
	font-size: 22px
h6
	font-size: 18px
h1, h2, h3, h4, h5, h6
	margin: 0
	margin-bottom: 15px
	color: $title
	line-height: 1.05em
	text-transform: uppercase
p
	margin-top: 15px
	margin-bottom: 0
	font-weight: 300
	b,
	strong
		font-weight: 400
ul
	margin: 0
	padding: 0
	list-style: none
	li
		font-weight: 300
ul.ul-list
	margin-top: 5px
	li
		position: relative
		padding-left: 15px
		&:before
			content: ''
			position: absolute
			top: 10px
			left: 0
			width: 5px
			height: 5px
			background-color: #555
hr
	margin: 45px 0
	border: 0
	height: 1px
	background-color: $border

.container
	padding: 0 15px

.img-responsive
	display: block
	max-width: 100%
	height: auto

// Lazyload
// .lazy:not(img)
// 	filter: opacity(0)
// .lazy:not(img)[data-was-processed="true"]
// 	filter: opacity(1)
// 	transition: filter 1s
img.lazy
	opacity: 0
img.lazy:not(.initial)
	transition: opacity 1.25s cubic-bezier(0.165, 0.84, 0.44, 1)
img.initial,
img.loaded,
img.error
	opacity: 1
img.lazy:not([src]):not([srcset])
	visibility: hidden
@-moz-document url-prefix()
	img:-moz-loading
		visibility: hidden

[data-loader="spinner"]:before
	content: ''
	position: absolute
	top: 50%
	left: 50%
	z-index: -1
	display: inline-block
	height: 32px
	width: 32px
	margin-top: -16px
	margin-left: -16px
	border: 3px solid
	border-top-color: transparent
	border-radius: 50%
	color: #ccc
	animation: rotate 1s linear infinite
@keyframes rotate
	0%
		transform: rotate(0)
	100%
		transform: rotate(360deg)

.icon
	display: inline-block
	width: 1em
	height: 1em
	stroke-width: 0
	stroke: currentColor
	fill: currentColor

.accent-text
	color: $accent
.text-left
	text-align: left!important
.text-center
	text-align: center!important
.m-a
	margin-left: auto
	margin-right: auto

.btn
	display: inline-block
	padding: 15px 30px
	background: $trsp
	border: 1px solid $text
	color: $text
	font-size: 12px
	line-height: 1
	text-align: center
	text-decoration: none
	text-transform: uppercase
	white-space: nowrap
	outline: 0
	transition: background-color .3s, border-color .3s, color .3s
	&:hover
		background-color: $text
		color: $white
		cursor: pointer
	&:active
		background: darken($text, 10%)
	&-solid
		background-color: $text
		color: $white
		&:hover
			background-color: $trsp
			color: $text
		&:active
			background: rgba($border, 0.5)
	&-white
		border-color: $white
		color: $white
		&:hover
			background-color: $white
			color: $text
	&-accent
		border-color: #e1b000
		background-color: $accent
		color: $title
		&:hover
			border-color: $text
		&:active
			background: darken($text, 10%)

.pt-150
	padding-top: 150px
.pt-100
	padding-top: 100px
.pt-50
	padding-top: 50px
.pt-30
	padding-top: 30px
.pt-15
	padding-top: 15px
.pt-0
	padding-top: 0
.pb-150
	padding-bottom: 150px
.pb-100
	padding-bottom: 100px
.pb-50
	padding-bottom: 50px
.pb-30
	padding-bottom: 30px
.pb-15
	padding-bottom: 15px
.pb-0
	padding-bottom: 0

.mt-150
	margin-top: 150px
.mt-100
	margin-top: 100px
.mt-50
	margin-top: 50px
.mt-30
	margin-top: 30px
.mt-15
	margin-top: 15px
.mt-0
	margin-top: 0
.mb-150
	margin-bottom: 150px
.mb-100
	margin-bottom: 100px
.mb-50
	margin-bottom: 50px
.mb-30
	margin-bottom: 30px
.mb-15
	margin-bottom: 15px
.mb-0
	margin-bottom: 0



// Owl Arrows
.owl-carousel_nav
	position: absolute
	top: 50%
	left: 0
	right: 0
.owl-arrows
	transition: opacity .3s
	&:hover
		opacity: 1
	&.disabled
		display: none
	button
		padding: 0
		background: $trsp
		border: 0
		outline: 0
		&.disabled
			pointer-events: none
			opacity: 0.15
	&--light
		margin: 0 -15px
		.owl-prev,
		.owl-next
			border: 1px solid $white
			color: $white
			&:hover
				background: $white
				color: $text
	&--dark
		.owl-prev,
		.owl-next
			border: 1px solid $text
			color: $text
			&:hover
				background: $text
				color: $white
	.owl-prev,
	.owl-next
		position: absolute
		top: 50%
		z-index: 1
		display: flex
		justify-content: center
		align-items: center
		width: 45px
		height: 45px
		transition: $trs-all
		margin-top: -25px
		&:hover
			cursor: pointer
		.icon
			font-size: 18px
	.owl-prev
		left: 0
		.icon
			transform: rotate(90deg)
	.owl-next 
		right: 0
		.icon
			transform: rotate(-90deg)
// Owl Dots
.owl-dots
	margin-top: 30px
	text-align: center
	.owl-dot
		width: 15px
		height: 15px
		margin: 0 5px
		outline: 0
		span
			display: block
			width: 100%
			height: 100%
			border: 1px solid $white
			transition: background-color .3s
		&:hover
			span
				background: $white
		&.active
			span
				background: $white
	&--dark
		.owl-dot
			span
				border-color: #ccc
			&.active
				span
					background: $text
			&:hover
				span
					background: #ccc


// Fotorama Customize
.fotorama
	.fotorama__arr
		display: flex
		justify-content: center
		align-items: center
		width: 45px
		height: 45px
		margin-top: -22.5px
		background-repeat: no-repeat
		background-position: center
		background-size: 18px
		border: 1px solid $white
		transition: opacity .3s
		&--prev
			left: 50px
			background-image: url('../img/icons/arrow-white.svg')
			transform: rotate(90deg)!important
		&--next
			right: 50px
			background-image: url('../img/icons/arrow-white.svg')
			transform: rotate(-90deg)!important

// Main blocks
@import "_blocks/page"
@import "_blocks/header"
@import "_blocks/footer"

// Home blocks
@import "_blocks/home-page/section-heroes"
@import "_blocks/home-page/section-about-us"
@import "_blocks/home-page/section-restaurant"
@import "_blocks/home-page/section-catering"
@import "_blocks/home-page/section-advantages"
@import "_blocks/home-page/section-delivery"

// Other pages
@import "_blocks/pages/about-us"
@import "_blocks/pages/contacts"
@import "_blocks/pages/catering"
@import "_blocks/pages/family"
@import "_blocks/pages/family-single"
@import "_blocks/pages/menu"
@import "_blocks/pages/gallery"
@import "_blocks/pages/404"
@import "_blocks/pages/thanks"

// Media queries
@import media