@import vars

.s-footer
	background-color: $text
	&__wrap
		padding: 60px 0
	&__up
		display: flex
		justify-content: center
		margin-bottom: 45px
		&-btn
			padding: 8px 12px
			color: $accent
			&:hover
				color: $white
			&:active
				background: $text
			.icon
				font-size: 18px
				transform: rotate(-180deg)
			span
				display: block
				margin-top: 4px
	&__title
		margin-bottom: 15px
		color: $white
		font-size: 18px
		font-weight: 700
		text-transform: uppercase
	&__brand
		&-logo
			max-width: 100px
		&-descr
			margin-top: 10px
			color: darken($white, 25%)
			font-size: 15px
			font-weight: 300
	&__nav
		&-list
			li
				&:not(:first-child)
					margin-top: 5px
				a
					color: darken($white, 25%)
					font-size: 16px
					font-weight: 300
					&:hover
						color: $accent
	&__social
		display: flex
		margin-top: 20px
		&-link
			margin-right: 15px
			color: $white
			font-size: 16px
			&:last-child
				margin-right: 0
			&:hover
				color: $accent
	&__office
		&-item
			display: flex
			&:not(:first-child)
				margin-top: 15px
		&-icon
			width: 18px
			min-width: 18px
			height: 18px
			.icon
				fill: $accent
				font-size: 16px
		&-text
			margin-top: -1px
			margin-left: 8px
			color: darken($white, 25%)
			font-weight: 300
			line-height: 1.35em
			a
				color: darken($white, 25%)
				&:hover
					color: $accent
	&__copyright
		padding: 20px 0
		background-color: #2b2b2b
		span
			color: #888
			font-weight: 300
		a
			color: #888
			font-weight: 300
			&:hover
				color: $accent
