@import vars

// Breadcrumbs customize
.breadcrumbs
	padding: 15px 0
	&__list
		display: flex
		flex-wrap: wrap
		align-items: center
		li
			color: #c9c9c9
			font-size: 14px
			text-transform: uppercase
			&:after
				content: '/'
				display: inline-block
				padding: 0 10px
				color: #c9c9c9
			&:last-child
				&:after
					display: none
			a
				color: $text
				&:hover
					color: $title

// Form customize
.form
	&-title
		margin-top: 10px
		margin-bottom: 20px
		color: $title
		font-size: 22px
		font-weight: 700
		text-transform: uppercase
	&-group
		margin-bottom: 20px
	&-control
		position: relative
		width: 100%
		height: 56px
		padding: 0 20px
		background: $trsp
		border: 1px solid $border
		color: $text
		font-size: 15px
		line-height: 56px
		transition: border-color .3s
		&-icon
			padding-left: 56px
			background-position: 20px center
			background-size: 16px 16px
			background-repeat: no-repeat
			&.icon-name
				background-image: url('../img/icons/user.svg')
			&.icon-phone
				background-image: url('../img/icons/phone.svg')
			&.icon-date
				background-image: url('../img/icons/calendar.svg')
			&.icon-guests
				background-image: url('../img/icons/guests.svg')
	&-check
		&-input
			display: none
		&-label
			position: relative
			display: block
			margin-bottom: 10px
			padding-left: 35px
			font-size: 15px
			font-weight: 300
			line-height: 22px
			cursor: pointer
			&:before
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 20px
				height: 20px
				border-radius: 50%
				box-shadow: 0 0 0 1px #d7d7d7
		input:checked + label:after
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 20px
			height: 20px
			border: 5px solid $white
			border-radius: 50%
			background: $text
	&-radio
		&-input
			display: none
		&-label
			position: relative
			display: block
			margin-bottom: 10px
			padding-left: 35px
			font-size: 15px
			font-weight: 300
			line-height: 22px
			cursor: pointer
			&:before
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 20px
				height: 20px
				box-shadow: 0 0 0 1px #d7d7d7
		input:checked + label:after
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 20px
			height: 20px
			background: $text url('../img/icons/check-input.svg') no-repeat center/12px
	&-range
		padding-right: 1px
		.irs--round .irs-line
			border-radius: 0
		.irs--round .irs-bar
			border-radius: 0
			background: $text
		.irs--round .irs-min, .irs--round .irs-max
			border-radius: 0
		.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single
			background: $text
			&:before
				border-top-color: $text
		.irs--round .irs-handle
			border-color: $text

// Page Heroes customize
.p-heroes
	background: $text
	&__wrap
		position: relative
		z-index: 0
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		height: 250px
		background-position: center center
		background-repeat: no-repeat
		background-size: cover
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: -1
			background: rgba($text, 0.65)
	&__title
		margin-bottom: 5px
		color: $white
		text-align: center
	&__brand
		display: block
		color: $accent
		font-size: 18px
		text-align: center
		text-transform: uppercase

// Families Heroes customize
.f-heroes
	&__wrap
		position: relative
		z-index: 0
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		height: calc(100vh - 250px)
		min-height: 450px
		background-position: center center
		background-repeat: no-repeat
		background-size: cover
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: -1
			background: rgba($text, 0.65)
	&__header
		// margin-top: -100px
	&__title
		margin-bottom: 15px
		color: $white
		text-align: center
	&__descr
		max-width: 900px
		margin: 0 auto
		color: $white
		text-align: center
	&__info
		position: absolute
		left: 0
		right: 0
		bottom: 0
		margin: 0 auto
		.navigation
			margin-bottom: 25px
			text-align: center
			&__list
				display: flex
				flex-wrap: wrap
				align-items: center
				justify-content: center
				li
					margin: 0 5px
					border-bottom: 2px solid $trsp
					transition: border .3s
					&:hover
						border-bottom-color: $white
					a
						display: block
						padding: 0 10px 5px
						color: $white
						font-weight: 700
						text-transform: uppercase